.DS_Store
.obsidian
.obsidian/*
.obsidian/cache
.obsidian/graph.json
.obsidian/workspace
.obsidian/workspace.json
orphaned_files_output.md
broken_links_output.md
files_without_tags.md
empty_files.md
.indexcache.json